# Node modules
node_modules/

# Yarn / NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Metro bundler cache
.metro-cache/

# Temporary files
*.tmp
*.temp

# macOS files
.DS_Store

# Environment variables
.env
.env.local
.env.production
.env.development

# Build outputs
dist/
build/
*.ipa
*.apk
*.aab

# Android / iOS native build folders (if prebuilt)
android/
ios/

# Credentials (Expo)
credentials.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Expo generated assets
assets/*.db
assets/*.json
